# Q4 Find out the highest number in the following lists without using any builtin function and compulary use a for loop

Hint: use comparison operator and for loop.

x = [23,25,-43,0,-56] ans would be 25
x = [-5000,-5000000,-1] ans would be -1
x = [] ans should be empty list

In [ ]:
x = [23,25,-43,0,-56]
ans = 25
y = [-5000,-5000000,-1]
ans = -1
z = []
ans = 'empty list'

In [1]:
ans = 0

In [3]:
ans = 23

In [5]:
ans = 25

In [6]:
ans > -43

True

In [7]:
ans > 0

True

In [8]:
ans > -56

True

In [9]:
print(ans)

25

In [10]:
7.6 > 4

True

In [11]:
maximum_number = float('-inf')

In [12]:
maximum_number > -7888888

False

In [ ]:
x = [23,25,-43,0,-56]
ans = 25
y = [-5000,-5000000,-1]
ans = -1
z = []
ans = 'empty list'

In [20]:
x = []
maximum_number = float('-inf')
for no in x:
    if maximum_number < no:
        maximum_number = no
if len(x) == 0:
    print('Empty list')
else:
    print(maximum_number)

Empty list


## Q5: In the following list of Person Informations.
 persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},{'Name':
,'Kunal','Gender':'M','Profession':'engineer'},
{'Name':'Rashmi','Gender':'F','Profession':'doctor'}]

## if the profession is doctor check if the name starts with M print 'doctor M' else print 'doctor' 
## if the professtion is engineer, check if the gender is M, if yes print 'engineer bhaiyya' else print 'engineer didi' 

## if the profeesion is actor , check if the last char of name is h, if yes print 'actor' or print 'lier' 

## if the profession is none of the above print('Wow what do you actually do??')

In [23]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},
           {'Name': 'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'Rashmi','Gender':'F','Profession':'doctor'}]

In [26]:
for person in persons:
    if person['Profession'] == 'doctor':
        if person['Name'][0] == 'M':
            print('doctor M')
        else:
            print('doctor')
    if person['Profession'] == 'engineer':
        other stuff...

doctor

In [25]:
x = 'Mohit'
print(x[0])

M

# Lists

In [27]:
x = [900,7.8,True,None,(3,4),{'python':3,'Prepinsta':5},{4,4,4}]
print(x)

[900, 7.8, True, None, (3, 4), {'python': 3, 'Prepinsta': 5}, {4}]

In [ ]:
-> lists are mutable(editable).
-> lists supprts indexing and slicing.

In [28]:
fruits = ['kiwi','apple','apricot','mango','banana']

In [29]:
print(fruits[2])

apricot

In [30]:
print(fruits[-1])

banana

In [31]:
print(fruits[0])

kiwi

In [32]:
print(fruits[2:4])

['apricot', 'mango']

In [36]:
fruits = ['kiwi','apple','apricot','mango','banana']
print(id(fruits))

4395757504

In [37]:
fruits[2] = 'dragon fruit'

In [38]:
print(fruits)
print(id(fruits))

['kiwi', 'apple', 'dragon fruit', 'mango', 'banana']
4395757504

In [39]:
# append builtin function
# it is for adding elements at the end of the list.

In [40]:
fruits = ['kiwi','apple','apricot','mango','banana']
fruits.append('lichi')

In [41]:
print(fruits)

['kiwi', 'apple', 'apricot', 'mango', 'banana', 'lichi']

In [42]:
print(fruits[-1])

lichi

## Q2.) Make a list with alphabets from m to z

### Intuition: Range function can create numbers and chr() can convert them to alphabets

### Pseudocode:
    1.) Create an empty list
    2.) make 2 variables for start and end alphabets. convert them to numbers
    3.) loop from start to end and convert each one of them to alphabet
    4.) save each one of them to list.

In [ ]:
# ASCII Table
chr()
it gives you character correponding to a ascii value.

In [56]:
chr(65)

'A'

In [57]:
chr(97)

'a'

In [ ]:
ord()
it gives you ascii value for a character

In [58]:
ord('a')

97

In [59]:
ord('m')

109

In [60]:
ord('z')

122

In [62]:
for i in range(97,123):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [63]:
ord('m')

109

In [65]:
x = []
for i in range(109,123):
    x.append(chr(i))
print(x)

['m', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
isalpha()
isdigit()
isalnum()
isspace()

In [66]:
'tomorrow'.isalpha()

True

In [68]:
'tomorrow2'.isalpha()

False

In [69]:
'3000'.isdigit()

True

In [70]:
'iloveyou3000'.isdigit()

False

In [71]:
'iloveyou3000'.isalnum()

True

In [72]:
'iloveyou3000##'.isalnum()

False

In [73]:
'iloveyou'.isalnum()

True

In [74]:
'3000'.isalnum()

True

In [75]:
' '.isspace()

True

In [76]:
'$. '.isspace()

False

## Q1) How to use slicing to print only OOOO out of "OAOAOAOA"?

### Intuition: Can we jump to only even index positions?

### Pseudocode:No Need, just an builtin function

In [79]:
x = "OAOAOAOA"
print(x[0:len(x):2])

OOOO

## Q2)Check which of the following string contains all the 26 Alphabets
##    a)"the quick brown fox jumps over a lazy dog"
##    b)"the quick red fox jumps over a lazy dog"

### Intuition:Can we use ASCII values to store in a list the alphabet number present in the string.

### Pseudocode:
    1)make a list with 0's of size 26
    2)loop through the string and calculate ascii value.
    2.1) subtract the lowest ascii value to get the alphabet position (Remember 0 indexed)
    2.2) replace the 0 with 1 in the list for that alphabet
    3) sum the values in the list, it should be 26.

In [91]:
x = "the quick brown fox jumps over a lazy dog @##$%^"
flag = True
for i in range(97,123):
    if chr(i) in x:
        pass
    else:
        flag = False
        print(chr(i))
print(flag)

True

In [87]:
# what is the difference between = and ==?
x = 56
print(x)
# hey you are 56

56

In [89]:
x == 44
# Asking a question that hey are you 44?

False

In [93]:
x = "the quick red fox jumps over a lazy dog @##$%^"
flag = True
for i in range(97,123):
    if chr(i) not in x:
        flag = False
print(flag)

False