In [ ]:
Data Types:
    Immutable:
        tuple
        str
        int,float,None,bool
    Mutable:
        list
        dict
        set
    
    dict keys and set elements are unique and immutable
    
Operators:
    Arithmetic Operators (+,-,*,/,//,%,**)
    Logical Operators(and,or,not)
    Membership (in,not in)
    Identity (is, is not)
    Comparison (<,>,>=,==,>=)
    Assignment(=,+=,-=,*=,..)
    
if boolean_output:
    print('happy')
else:
    print('sad')
boolean_output is True Equivalent it will print happy , other wise sad.

if x:
    pass
elif y:
    pass
elif z:
    pass

loops: for, while

pass, break , continue

Functions: global,local,and builtin namespace
    
Parameter passing techniques: variable arguments, named arguments,
    default arguments,etc
    
Modules and Packages: import, structure
    
Regular Expressions

File Handling in Text Files: r,r+,w,w+,a,a+

In [2]:
x = 5

for i in range(2,10):
    if i == 5:
        break
    print(i)

2
3
4

In [3]:
x = 5

for i in range(2,10):
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9

# Functional Programming

# map

In [4]:
def sqr(no):
    return no**2

In [5]:
sqr(2)

4

In [6]:
no_list = [1,2,4,6]

In [7]:
sqr_list = []
for no in no_list:
    y = sqr(no)
    sqr_list.append(y)
print(sqr_list)

[1, 4, 16, 36]

In [ ]:
# syntax
# map(function_name,iterable)

In [12]:
list(map(sqr,no_list))

[1, 4, 16, 36]

In [13]:
def inc(no):
    return no+1

In [18]:
list(map(inc,[419,785,68]))

[420, 786, 69]

In [19]:
def sqr(no):
    return no**2

In [21]:
list(map(sqr,[3,4]))

[9, 16]

In [22]:
def happy(no):
    return (no-1)*2

In [25]:
list(map(happy,[20,13,4]))

[38, 24, 6]

# Filter

In [29]:
collection = ['apple',23,'mango',550,(1,2),True,False,{34,23},{'a':1}]

# you only want strings from this collection

In [30]:
final_list = []
for item in collection:
    if type(item) == type('magic'):
        final_list.append(item)
print(final_list)

['apple', 'mango']

In [31]:
def is_string(item):
    if type(item) == type('magic'):
        return True

In [32]:
bool(None)

False

In [34]:
print(bool(is_string(34)))

False

In [35]:
is_string('tappu')

True

In [38]:
list(filter(is_string,['apple',23,'mango',550,(1,2),{'a':1}]))

['apple', 'mango']

In [39]:
numbers = [1,2,3,4,5,6,7,8]

even = []
for no in numbers:
    if no%2 == 0:
        even.append(no)
print(even)

[2, 4, 6, 8]

In [40]:
def is_even(no):
    if no%2 == 0:
        return True

In [42]:
list(filter(is_even,[1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [43]:
list(map(is_even,[1,2,3,4,5,6,7,8]))

[None, True, None, True, None, True, None, True]

In [47]:
employees = [ 
 {'name': 'Aman',
 'emp_id': 37,
 'sallary': 1900,
 'isMarried': True},
{'name': 'Rohan',
 'emp_id': 29,
 'sallary': 33000,
 'isMarried': False},
{'name': 'Aadil',
 'emp_id': 69,
 'sallary': 121000,
 'isMarried': True},
{'name': 'Mohammed',
 'emp_id': 53,
 'sallary': 50000,
 'isMarried': True}
]

In [48]:
def is_married(emp_detail):
    if emp_detail['isMarried'] == True:
        return True

In [50]:
list(filter(is_married,employees))

[{'name': 'Aman', 'emp_id': 37, 'sallary': 1900, 'isMarried': True},
 {'name': 'Aadil', 'emp_id': 69, 'sallary': 121000, 'isMarried': True},
 {'name': 'Mohammed', 'emp_id': 53, 'sallary': 50000, 'isMarried': True}]

In [51]:
def is_high_sallary(emp_detail):
    if emp_detail["sallary"] > 49000:
        return True

In [52]:
list(filter(is_high_sallary,employees))

[{'name': 'Aadil', 'emp_id': 69, 'sallary': 121000, 'isMarried': True},
 {'name': 'Mohammed', 'emp_id': 53, 'sallary': 50000, 'isMarried': True}]

In [ ]:
Question: Use employees list above , and create a senetence for
    every emp_dict, by using paramter passing technique in the
    function which will be used in map.

In [ ]:
employees = [ 
 {'name': 'Aman',
 'emp_id': 37,
 'sallary': 1900,
 'isMarried': True},
{'name': 'Rohan',
 'emp_id': 29,
 'sallary': 33000,
 'isMarried': False},
{'name': 'Aadil',
 'emp_id': 69,
 'sallary': 121000,
 'isMarried': True},
{'name': 'Mohammed',
 'emp_id': 53,
 'sallary': 50000,
 'isMarried': True}
]

In [57]:
def make_sentence(name,emp_id,sallary,isMarried):
    marriage_part  = 'is married.'
    if isMarried == False:
        marriage_part = 'is not married.'
    return name+' with emp id = ' + str(emp_id) + ' is working with sallary = ' + str(sallary) + ' and '+marriage_part

In [64]:
sajal_info = {'name':'Sajal Tiwari',
'emp_id':45,
'sallary': 100000,
'isMarried':False}

make_sentence(**sajal_info)

'Sajal Tiwari with emp id = 45 is working with sallary = 100000 and is not married.'

In [61]:
make_sentence('Sajal Tiwari','45',100000,False)

'Sajal Tiwari with emp id = 45 is working with sallary = 100000 and is not married.'

In [66]:
for emp in employees:
    print(make_sentence(**emp))

Aman with emp id = 37 is working with sallary = 1900 and is married.
Rohan with emp id = 29 is working with sallary = 33000 and is not married.
Aadil with emp id = 69 is working with sallary = 121000 and is married.
Mohammed with emp id = 53 is working with sallary = 50000 and is married.

# lambda functions

In [72]:
def is_even(no):
    return no%2 == 0

In [73]:
is_even(3)

False

In [74]:
is_even(4)

True

In [ ]:
Syntax: lambda input : output

In [75]:
is_even = lambda no : no%2 == 0

In [76]:
is_even(45)

False

In [77]:
is_even(22)

True

In [ ]:
- There is no Return Statment
- There is a usage of lambda keyword
- It is 1 liner

In [ ]:
# map(function,iterable)

In [79]:
list(filter(lambda no : no%2 == 0,[1,2,3,4,5,6,7,8,9,10,22,23,34,43]))

[2, 4, 6, 8, 10, 22, 34]

In [ ]:
Question: Write a lambda function to return +1 of the no given to it.

In [80]:
plus_one = lambda no : no+1

In [81]:
plus_one(4)

5

In [82]:
plus_one(33)

34