In [ ]:
len() builtin function
range() builtin function
help() builtin function

In [ ]:
len() function => It tells the length of the Iterable.

Iterable Data Types:
    list
    str
    dict
    set
    tuple

In [1]:
fruits = ['apple','mango','kiwi','banana']
len(fruits)

4

In [2]:
waka = {'python':3, 'java':8}
len(waka)
# There are 2 key-value pairs

2

In [3]:
x = 'python'
len(x)

6

In [4]:
y = 'kiwi'
len(y)

4

In [5]:
# range() builtin function

In [ ]:
start, stop, jump

stop-> It is never reached.
by default jump is 1.

In [6]:
for i in range(3,22):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [7]:
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [8]:
for i in range(5,22,6):
    print(i)

5
11
17

In [ ]:
# help() builtin function

In [23]:
x = {'happy','puppy','kissi','mussi','munchi'}
# help(x)

In [13]:
x = {'happy','puppy','kissi','mussi','munchi'}
print(x)
print(id(x))

{'munchi', 'mussi', 'happy', 'puppy', 'kissi'}
4386369824

In [14]:
x.discard('kissi')

In [15]:
print(x)
print(id(x))

# hence sets are mutable(editable)

{'munchi', 'mussi', 'happy', 'puppy'}
4386369824

In [ ]:
# range(start,stop,jump)
# stop is necesaary/mandatory

In [19]:
for i in range(3,13,3):
    print(i)

3
6
9
12

In [20]:
for i in range(13,23,4):
    print(i)

13
17
21

In [22]:
x = {'python':4,'numpy':1}
# help(x)

## Q1Make a list of numbers from 1 to 10 and loop over them and print ('yes') if it is a even number and ('no') if it is odd.

In [24]:
x = [1,2,3,4,5,6,7,8,9,10]
for no in x:
    if no%2 == 0:
        print(no,' even')
    else:
        print(no,' odd')

1  odd
2  even
3  odd
4  even
5  odd
6  even
7  odd
8  even
9  odd
10  even

## Q2) Print multiplication table of 5

### Pseudocode:
    1)loop from 1 to 10
    2)for each item, print * of 5 with it.

In [27]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

## Q3 Find out the sum of the numbers without using any builtin function and compulary use a for loop
numbersList = [23,25,-43,0,-56]

In [33]:
# numbersList = [300,400,50,-20]
numbersList = [23,25,-43,0,-56]

sum1 = 0

for i in numbersList:
    sum1 = sum1 + i
print(sum1)

-51

## Q1 Make a list of numbers from 1 to 5 and print their value using for loop

In [34]:
# 3 minutes
xlist = [1,2,3,4,5]
for i in xlist:
    print(i)

1
2
3
4
5

In [ ]:
Conditional Statements with AND,OR

In [35]:
employees = [ 
 {'name': 'Aman',
 'emp_id': 37,
 'sallary': 1900,
 'isMarried': True},
{'name': 'Rohan',
 'emp_id': 29,
 'sallary': 33000,
 'isMarried': False},
{'name': 'Aadil',
 'emp_id': 69,
 'sallary': 121000,
 'isMarried': True},
{'name': 'Mohammed',
 'emp_id': 53,
 'sallary': 50000,
 'isMarried': True}
]

In [37]:
for emp in employees:
    if emp['emp_id'] <= 40 and emp['isMarried'] == False:
        print(emp['name'])

Rohan

In [ ]:
Find out the employees who is either not married OR whose emp_id > 60

In [38]:
for emp in employees:
    if emp['emp_id'] > 60 or emp['isMarried'] == False:
        print(emp['name'])

Rohan
Aadil

In [39]:
# Nested if else

In [44]:
print('Will you marry me?')
reply = input()
if reply == 'I need more time':
    print('How much more time?')
    reply2 = input()
    if reply2 == "I don't know":
        print('Oh God! How much more, we are together for 5 years')
    else:
        print('Take your time!')
        
elif reply == 'Yes':
    print('Feeling bad for my PS4')
else:
    print('Wohooooo !! PS4 is coming!')

Will you marry me?
I need more time
How much more time?
2 days
Take your time!

In [45]:
# Nested for loop

In [46]:
print(employees)

[{'name': 'Aman', 'emp_id': 37, 'sallary': 1900, 'isMarried': True}, {'name': 'Rohan', 'emp_id': 29, 'sallary': 33000, 'isMarried': False}, {'name': 'Aadil', 'emp_id': 69, 'sallary': 121000, 'isMarried': True}, {'name': 'Mohammed', 'emp_id': 53, 'sallary': 50000, 'isMarried': True}]

In [48]:
for emp_name in ['Rohan','Aadil']:
    for emp_dict in employees:
        if emp_dict['name'] == emp_name:
            print(emp_name,emp_dict['sallary'])

Rohan 33000
Aadil 121000

In [49]:
for emp_name in ['Rohan','Aadil']:
    print(emp_name)

Rohan
Aadil

In [50]:
emp_name = 'Rohan'
for emp_dict in employees:
    if emp_dict['name'] == emp_name:
        print(emp_name,emp_dict['sallary'])

Rohan 33000

In [54]:
for i in range(1,3):
    print('value of i is',i)
    for j in range(0,i):
        print(i,'hello')

value of i is 1
1 hello
value of i is 2
2 hello
2 hello

In [58]:
i = 1
for j in range(0,i):
    print(i,j,'hello')

1 0 hello

In [57]:
i = 2
for j in range(0,i):
    print(i,j,'hello')

2 0 hello
2 1 hello

In [ ]:



i = 2
for j in range(0,i):
    print(i,j,'hello')

In [62]:
x = 5
for i in range(0,x):
    print(i,x)

0 5
1 5
2 5
3 5
4 5

In [63]:
for x in [5,10]:
    for i in range(0,x):
        print(i,x)
        
# how many times the outer for loop will run?

0 5
1 5
2 5
3 5
4 5
0 10
1 10
2 10
3 10
4 10
5 10
6 10
7 10
8 10
9 10

## Q2) Print yes if x is divisible by 3 and 5 both

### Intuition: since 4 is divisible by 2 it outputs remainder = 0

### PseudoCode:
    1)Check if remainder obtained by 3 is 0
    2)Check if remainder obtained by 5 is 0
    3)If anyone of the above 2 are false, than print False.
    4)If both are True, print True.
    
5 minutes
9:10

In [66]:
x = int(input())

if x%3 == 0 and x%5 == 0:
    print('True')
else:
    print('False')

300
True

In [73]:
x= int(input())
if x%3==0 and x%5==0:
    print(True)
else:
    print(False)

78
False


## Q5: In the following list of Person Informations.
 persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},{'Name':
,'Kunal','Gender':'M','Profession':'engineer'},
{'Name':'Rashmi','Gender':'F','Profession':'doctor'}]

## if the profession is doctor check if the name starts with M print 'doctor M' else print 'doctor' 
## if the professtion is engineer, check if the gender is M, if yes print 'engineer bhaiyya' else print 'engineer didi' 

## if the profeesion is actor , check if the last char of name is h, if yes print 'actor' or print 'lier' 

## if the profession is none of the above print('Wow what do you actually do??')

In [76]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},
           {'Name': 'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'Rashmi','Gender':'F','Profession':'doctor'}]

In [77]:
x = 'mango'
print(x[0])

m

In [78]:
x[0] == 'm'

True