In [ ]:
# Functions
# Parameter Passing Techniques
# What is Parameter?

In [1]:
def happy(a,b):
    print(a+b)

In [2]:
happy('mango ','juice')

mango juice

# Default Arguments

In [3]:
def happy(a,b='juice'):
    print(a+b)

# b will be juice if nothing is given.

In [6]:
happy('mango ')

mango juice

In [7]:
happy('mango ','shake')

mango shake

In [15]:
def teajuice(a='tea',b='juice'):
    print(a+b)

# b will be juice if nothing is given.

In [17]:
teajuice('shake')

shakejuice

# NAMED ARGUMENTS

In [8]:
def juice_shop(name,cold,small):
    if cold == True:
        if small == True:
            return 'Cold '+name+' Small Size is ready'
        else:
            return 'Cold '+name+' Big Size is ready'
    else:
        if small == True:
            return 'Hot '+name+' Small Size is ready'
        else:
            return 'Hot '+name+' Big Size is ready'

In [9]:
juice_shop(name='Kiwi',small=False,cold=True)

'Cold Kiwi Big Size is ready'

In [10]:
juice_shop(small=True,cold=False,name='Pineapple')

'Hot Pineapple Small Size is ready'

In [11]:
def task(name,college,stream):
    print(name, ' is studying at ',college,' with stream = ',stream)

In [12]:
task('Sajal Tiwari','MIT','Artificial Intelligence')

Sajal Tiwari  is studying at  MIT  with stream =  Artificial Intelligence

In [13]:
task('MIT','AI','Sajal')

MIT  is studying at  AI  with stream =  Sajal

In [14]:
task(college = 'MIT',stream='AI',name='Sajal Tiwari')

Sajal Tiwari  is studying at  MIT  with stream =  AI

# Variable Arguments

# Packing: Pack variable no of arguments into a collection of one.
    
Any no of arguments can come here.

In [23]:
def mycollectionofcars(*collection):
    print(type(collection))
    print(collection)
    for car in collection:
        print(car)

In [26]:
mycollectionofcars('Ferrari','Bugati','Gt Mustang','Lambo','Lambo')

<class 'tuple'>
('Ferrari', 'Bugati', 'Gt Mustang', 'Lambo', 'Lambo')
Ferrari
Bugati
Gt Mustang
Lambo
Lambo

In [25]:
mycollectionofcars('Ferrari','Bugati')

<class 'tuple'>
('Ferrari', 'Bugati')
Ferrari
Bugati

# Unpacking

In [33]:
detail = ('MIT','Sajal Tiwari','AI')

In [34]:
def printdetails(college,name,stream):
    print(name, ' is studying at ',college,' with stream = ',stream)

In [35]:
printdetails(*detail)

Sajal Tiwari  is studying at  MIT  with stream =  AI

# Named Packing

In [39]:
# * => tuple, ** => dict

def printdetails(**marks):
    print(marks,type(marks))
    for m in marks:
        print(m,marks[m])

In [40]:
printdetails(ds=78,mysql=69,iot=75)

{'ds': 78, 'mysql': 69, 'iot': 75} <class 'dict'>
ds 78
mysql 69
iot 75

In [41]:
printdetails(ml=73,dm=100,ipr=49,java=80,mk=55)

{'ml': 73, 'dm': 100, 'ipr': 49, 'java': 80, 'mk': 55} <class 'dict'>
ml 73
dm 100
ipr 49
java 80
mk 55

# Named unpacking

In [46]:
def task(name,college,stream):
    print(name, ' is studying at ',college,' with stream = ',stream)

In [47]:
details = {'college':'SKIT','stream':'IT','name':'Sailaja'}

In [48]:
task(**details)

Sailaja  is studying at  SKIT  with stream =  IT

## Regular Expressions

In [49]:
# Anchors

In [ ]:
## Metacharacters

>>. dot => matches with all the char(alphabets,digits,special chars,etc)
    except newline character.('\n')
    
    single dot means single char.
    2 dots means 2 chars... and so on..
    
>> [] Characgter Class is used for matching a set of characters.

[@#$%^trSU] => this character class contains @,#,$,%,^,t,r,S,U
So it will match if anything comes from the above mentioned char

 
[a-z] => it contains all the small alphabets from a to z.
 
[A-Z] => caps

[0-9] => it will match anything from 0 to 9
 
[0-9a-z] => it will match anything from 0 to 9 or a to z
 
# Quantifiers
+ => atleast 1 or more
* => 0 or more
? => 0 or once
 
# Counting Stuff
 
{} => 'x{3}' x should appear exactly 3 times
      '[0-9]{4}' 4 digit number
 
{1,5} => either 1,2,3,4, or 5 times.
 
# compliment : except this all the other things

[^0-9] => except 0 to 9 anything could be a match
 
# Anchors
^ => start of the string
$ => end of the string

In [52]:
# strings starting with app

import re
list_of_strings = ['apple123','mango789','###apple','@@@mango',
                   'appperfect']

regx = '^app.*'

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 8), match='apple123'>
None
None
None
<re.Match object; span=(0, 10), match='appperfect'>

In [55]:
# strings ending with 3 digit number

import re
list_of_strings = ['222','apple123','mango789','###a222pple','@@@333mango',
                   'appperfect']

regx = '.*[0-9]{3}$'

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 3), match='222'>
<re.Match object; span=(0, 8), match='apple123'>
<re.Match object; span=(0, 8), match='mango789'>
None
None
None

# Q1.) Write a regX to match a 3 digit number followed by abc.

# Q2.) Write a regX to match a 3 digit number followed by 3 small alphabets

# Q3.) Write a regX that start with a and end with z. "az,ae8934593u45jeksz,a234234z"

# Q4.) Write a regX that should match a pattern having atmost 3 occurences of small alphabets.(atmost?? 0-till limit)

# Q.5) Write a program to print hello world if the given_string start with a and end with z (make a function to do this task)

In [ ]:
1) "[0-9]{3}abc"
2) "[0-9]{3}[a-z]{3}"
3) "^a.*z$"
4) "[a-z]{1,3}"

In [ ]:
aa,abc,aaa,zzz,z,zk,kr,krk,srk,sk

In [56]:
def printhello(string):
    if re.search('^a.*z$',string):
        print('hello world')

In [57]:
printhello('a123546dfsjkfsdfklz')

hello world

In [58]:
printhello('123546dfsjkfsdfklz')

In [59]:
printhello('a123546dfsjkfsdfkl')

In [2]:
import re

string = '\n\n\napple'

re.search('..',string)

In [5]:
for string in ['1','23','345','6547','12345','123456']:
    print(string)
    print(re.search('[0-9]{2,5}',string))

1
None
23
<re.Match object; span=(0, 2), match='23'>
345
<re.Match object; span=(0, 3), match='345'>
6547
<re.Match object; span=(0, 4), match='6547'>
12345
<re.Match object; span=(0, 5), match='12345'>
123456
<re.Match object; span=(0, 5), match='12345'>