In [ ]:
REVISION OF BASICS OF PYTHON

DATA TYPES:
    INT
    FLOAT
    NONE
    BOOL(TRUE AND FALSE)
    STR
    LIST
    TUPLE
    DICT
    SET
    
ITERABLES: WHICH WE CAN LOOP OVER
    STR
    LIST
    SET
    DICT
    TUPLE
    
IMMUTABLE: UNEDITABLE
    INT
    FLOAT
    STR
    NONE
    BOOL(TRUE AND FALSE)
    TUPLE
    
MUTABLE: EDITABLE
    LIST
    DICT
    SET
    
ORDERED: SUPPORTS INDEXING AND SLICING
    STR
    LIST
    TUPLE
    
INSERTION ORDRED FROM PYTHON 3.5 ONWARDS:
    (IT STILL DOES NOT SUPPORT INDEXING AND SLICING, BUT
    KEY:VALUE PAIRS ARE INSERTED IN A ORDER)
    DICT

In [1]:
x = [(100,200)] # okay to do

x[0][0] = 500 # problamatic

# Can I do this?

TypeError: 'tuple' object does not support item assignment

In [2]:
x = (100,200,[69,420]) # okay to do

x[2][0] = 786 # okay to do

# Can I do this?

In [3]:
print(x)

(100, 200, [786, 420])

In [6]:
x = 'pythonjava'
print(id(x))
x = x.replace('python','mango')
print(id(x))

print(x)

4348137904
4348168240
mangojava

In [7]:
# type conversion/ type casting

x = 45
y = float(x)
print(y)

45.0

In [9]:
x = [('python',3),('java',8)]
y = dict(x)
print(y)

{'python': 3, 'java': 8}

In [ ]:
# int and float (numbers)
# None
# bool True and False

In [10]:
absent = True

In [11]:
absent = False

In [12]:
print(absent)

False

In [ ]:
# list
    builtin functions:
        append
        extend
        insert
        pop
        remove
        sort
        clear
        count
        find
        index
        del
        
# str
    builtin funcitons:
        split and join
        index,rindex,find,rfind
        upper,lower,title,capitalise
        isupper,islower,istitle
        isalpha,isdigit,isalnum,isspace
        replace,count,
        strip,lstrip,rstrip
        
# tuple
  builtin funcitons:
        count
        index
        
# dict:
2 most imp things about dict keys:
    1) keys are unique
    2) keys are immutable
    
    builtin funcitons for dict:
        get
        setdefault
        pop
        popitem
        clear
        remove
        
# sets:
2 most imp things about set elements or keys:
    1) elements are unique
    2) elements are immutable
    
    builtin funcitons for sets:
        add
        discard
        pop
        remove
        update
        clear

## Q1) Store Alphabets as "keys" and their ASCII values as "values" to those keys.

### Intuition: Use "ord" and "chr"

### Pseudocode:
    1.) Loop from a to z.
    2.) store them as keys and find their ascii to store them as values.

In [23]:
# {'a':97,'b':98,.....}

x = {}

x['a'] = 97
x['b'] = 98
print(x)

{'a': 97, 'b': 98}

In [24]:
chr(97)

'a'

In [21]:
x = {}
for i in range(97,123):
    x[chr(i)] = i
print(x)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [13]:
x = "kadam   "
print(len(x))

8

In [14]:
y = x.rstrip()
print(len(y))

5

In [18]:
y = {'python':3,'java':8}

for mohit in y:
    print(mohit)
    print(y[mohit])

python
3
java
8

In [16]:
print(y['python'])

3

## Q2) Count the number of occurrence of each letter in word "apple". Store count of every letter with the letter in a dictionary.

### Intuition: Use in operator to check if it already exist.

### Pseudocode:
    1.)loop over all the chars in "apple".
    2.)if char already exist, increase it's count, else give it count = 1

In [ ]:
# 'apple'
# {'a':1,'p':2,'l':1,'e':1}

In [31]:
y = {}
for alp in 'apple':
    y[alp] = 'apple'.count(alp)
    
print(y)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [33]:
x = {'python':3,'java':8}

print(3 in x)

False

In [38]:
y = {}
for alp in 'apple':
    if alp in y:
        y[alp] += 1
    else:
        y[alp] = 1
print(y)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

## Q4) Find the max appearing char by using sets.
s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"

### Pseudocode:
    1.)Make a copy of unique elements from the string.
    2.)Iterate over those and count the occurence in the string.

In [50]:
s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"
alphabets = list(set(s))
occurence_of_alphabets = []
for alp in alphabets:
    occurence_of_alphabets.append(s.count(alp)) 
print(alphabets)    
print(occurence_of_alphabets)
maximum_value = max(occurence_of_alphabets)
print(maximum_value)
index_position = occurence_of_alphabets.index(maximum_value)
print(index_position)
print(alphabets[index_position])

['f', 'c', 'q', 'a', 'r']
[4, 3, 21, 5, 2]
21
2
q

In [ ]:
# math builtin functions of sets
1) union
2) difference
3) intersection
4) symmetric_difference

In [40]:
x = {10,20,30,40}
y = {30,40,50,60}

union_of_x_and_y = x.union(y)
print(union_of_x_and_y)

{40, 10, 50, 20, 60, 30}

In [42]:
x = {10,20,30,40}
y = {30,40,50,60}

intersection_of_x_and_y = x.intersection(y)
print(intersection_of_x_and_y)

{40, 30}

In [43]:
x = {10,20,30,40}
y = {30,40,50,60}

x_minus_y = x.difference(y)
print(x_minus_y)

{10, 20}

In [44]:
x = {10,20,30,40}
y = {30,40,50,60}

y_minus_x = y.difference(x)
print(y_minus_x)

{50, 60}

In [45]:
x = {10,20,30,40}
y = {30,40,50,60}

x_symmetric_difference_with_y = x.symmetric_difference(y)
print(x_symmetric_difference_with_y)

{10, 50, 20, 60}

## Q3) From the below data
students = {"a","b","c","d","e","f","g","h"}
dance = {"a","b","c","d"}
music = {"e","f","b","c"}

## USE SET to solve:
### a) which love both music and dance?
### b) which love nothing?

### Intuition: Use builtin set functions

In [51]:
students = {"a","b","c","d","e","f","g","h"} 
dance = {"a","b","c","d"} 
music = {"e","f","b","c"}

In [52]:
dance.intersection(music)

{'b', 'c'}

In [53]:
extracurricular = dance.union(music)

In [54]:
students.difference(extracurricular)

{'g', 'h'}

In [55]:
non_music_lovers = students.difference(music)

In [56]:
non_music_dance_lovers = non_music_lovers.difference(dance)

In [57]:
print(non_music_dance_lovers)

{'h', 'g'}

In [59]:
students - dance - music

{'g', 'h'}