In [ ]:
DATA TYPES:
    1) int Immutable
    2) float Immutable
    3) str Immutable '',"","""""",''''''
    4) list : collection of items. []  Mutable
    5) tuple : collection of items. () Immutable
    6) dict {} Mutable
    7) set {} Mutable, Unique elements . collection of elements.
    8) bool True,False Immutable
    9) None Immutable

In [1]:
first_list = [12,'apple',780.03]

In [2]:
print(first_list[0])

12

In [3]:
print(first_list[1])

apple

In [4]:
print(first_list[2])

780.03

In [5]:
print(first_list[3])

IndexError: list index out of range

In [6]:
students_list = ['kunal','sajal','aman','vikas','aadil khan','jazz','rudresh']

In [7]:
print(students_list[0])

kunal

In [8]:
print(students_list[1])

sajal

In [9]:
# updates an item in list
students_list[0] = 'kunal sharma'

In [10]:
print(students_list)

['kunal sharma', 'sajal', 'aman', 'vikas', 'aadil khan', 'jazz', 'rudresh']

In [11]:
kunal = (1,2,3,'apple','kiwi')

In [12]:
print(kunal[0])

1

In [13]:
print(kunal[3])

apple

In [14]:
kunal[0] = 10

TypeError: 'tuple' object does not support item assignment

In [15]:
programming_dict = {'python':3, 'django':4, 'numpy':1, 'C':3, 'Java':8}

In [ ]:
keys: 'python','django','numpy','C','Java'
values: 3,4,1,3,8
After key colon is necessary.

In [17]:
print(programming_dict['python'])

3

In [19]:
print(programming_dict['Java'])

8

In [20]:
print(programming_dict['C#'])

KeyError: 'C#'

In [21]:
x = (20,40)
x[0] = 200

TypeError: 'tuple' object does not support item assignment

In [ ]:
Keys in Dict are:
    1) Unique
    2) Immutable

In [22]:
vikas = {50:'apple',20:(-2,-3),50:80}

In [23]:
print(vikas)

{50: 80, 20: (-2, -3)}

In [27]:
programming_dict = {'python':3, 'django':4, 'numpy':1, 'C':3, 'Java':8}

In [28]:
programming_dict['python'] = 4

In [29]:
print(programming_dict)

{'python': 4, 'django': 4, 'numpy': 1, 'C': 3, 'Java': 8}

In [30]:
fruits = ('banana','kiwi','mango')

In [31]:
fruits[0] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [33]:
aman_set = {'python',30,'mango','love','django',600.07}
# colons are not present in set.
# indexing/subscripting is not possible.

In [34]:
aman_set[0]

TypeError: 'set' object is not subscriptable

In [35]:
umang_set = {1,1,1,1,1,1,1,1,'apple',1,1,1,1,1,'apple'}

In [36]:
print(umang_set)

{1, 'apple'}

In [37]:
vikas_absent = True
aman_absent = False

In [38]:
print(vikas_absent)

True

In [39]:
print(aman_absent)

False

In [40]:
kant_dict = {'kiwi':4,'mango':10,'kiwi':50}

In [41]:
print(kant_dict)

{'kiwi': 50, 'mango': 10}

In [42]:
x = None

In [43]:
print(x)

None

In [44]:
c = 'a'
print(type(c))

<class 'str'>

In [ ]:
Immutable Data Types:- (which can not be changed)
    1) int
    2) float
    3) str
    4) tuple
    5) bool
    6) None
    
Mutable Data Types:- (which can be changed)
    1) list
    2) dict
    3) set

In [45]:
x = ''
print(type(x))

<class 'str'>

In [46]:
x = None
print(type(x))

<class 'NoneType'>

In [ ]:
Every data type will occupy some memory.
That memory will be having some address.
id() function gives you that address.

In [47]:
x = 40

In [49]:
old_address = id(x)

In [50]:
x = 50

In [51]:
new_address = id(x)

In [52]:
print(old_address,new_address)

4380648936 4380649256

In [ ]:
no_of_males = 0 # 0 no of males.
no_of_males = None # calculation has not been done yet.

In [ ]:
Conversion of Data Types
-converting a data type form one form to another.

In [59]:
x = 500.99999999

In [60]:
y = int(x)

In [61]:
print(y)

500

In [62]:
employees = [ 
 {'name': 'Aman',
 'emp_id': 37,
 'sallary': 1900,
 'isMarried': True},
{'name': 'Rohan',
 'emp_id': 29,
 'sallary': 33000,
 'isMarried': False},
{'name': 'Aadil',
 'emp_id': 69,
 'sallary': 121000,
 'isMarried': True},
{'name': 'Mohammed',
 'emp_id': 53,
 'sallary': 50000,
 'isMarried': True}
]

In [63]:
print(type(employees[0]))

<class 'dict'>

In [64]:
print(employees[0])

{'name': 'Aman', 'emp_id': 37, 'sallary': 1900, 'isMarried': True}

In [67]:
print(employees)

[{'name': 'Aman', 'emp_id': 37, 'sallary': 1900, 'isMarried': True}, {'name': 'Rohan', 'emp_id': 29, 'sallary': 33000, 'isMarried': False}, {'name': 'Aadil', 'emp_id': 69, 'sallary': 121000, 'isMarried': True}, {'name': 'Mohammed', 'emp_id': 53, 'sallary': 50000, 'isMarried': True}]

In [65]:
x = 500
y = float(x)

In [66]:
print(y)

500.0

In [68]:
x = ['mango','kiwi',200,40.40]
y = tuple(x)

In [69]:
print(type(y))

<class 'tuple'>

In [70]:
print(y)

('mango', 'kiwi', 200, 40.4)

In [71]:
y[0] = 'banana'

TypeError: 'tuple' object does not support item assignment

In [72]:
aman_emp = {'name': 'Aman',
 'emp_id': 37,
 'sallary': 1900,
 'isMarried': True}

In [73]:
aman_list = list(aman_emp)

In [74]:
print(aman_list)

['name', 'emp_id', 'sallary', 'isMarried']

In [ ]:
# list into set and back to list.

In [75]:
x = ['apple',1,2,3,1,2,3,'apple','mango','kiwi','kiwi']
print(x)

['apple', 1, 2, 3, 1, 2, 3, 'apple', 'mango', 'kiwi', 'kiwi']

In [76]:
y = set(x)

In [77]:
print(y)

{1, 2, 3, 'mango', 'kiwi', 'apple'}

In [78]:
z = list(y)

In [79]:
print(z)

[1, 2, 3, 'mango', 'kiwi', 'apple']

In [80]:
subject_for_data_science = ['python','data analytics', 'data wrangling',
                           'statistics','machine learning']

In [81]:
subject_for_data_science[0]

'python'

In [82]:
subject_for_data_science[1]

'data analytics'