In [ ]:
JUPYTER NOTEBOOK:
    WHAT IS IT? IT IS A TOOL WHICH HELPS STUDENTS AND PROFESSIONALS
    TO LEARN PYTHON AS WELL AS DO DATA SCIENCE STUFF.
    
    YOU CAN WRITE PYTHON CODE, TEXT RELATED TO PYTHON CODE AND USE IT
    TO MAKE NOTES FOR STUDY
    
    IT MAKES LEARNING PYTHON EASY.

In [ ]:
Cell => Single rectangular box

Outline color of a cell
Green=> Typing mode
Blue=>command mode

How to run a cell?
Shift+Enter
# happy

# Introduction to Python
### what is python
### why learn python
### why it is best programming language for DS.

Delete a cell
1)Press Esc
2)press dd

In [ ]:
# print function

In [1]:
print('hello world!')

hello world!

In [2]:
print("I am happy that I will be learning the most usefull skill of 21st century.")

I am happy that I will be learning the most usefull skill of 21st century.

In [3]:
print(45)

45

In [4]:
print(23+45)

68

In [7]:
x = 34
y = 78
z = x+y
m = 2*x
print(m)
print('Wow Python is really easy')

68
Wow Python is really easy

# Data Types in Python

In [8]:
What is Data?
Phone no
name,city,etc
shopping list
images
your mutual friends on facebook
your insta dp is data

hello world

In [ ]:
Data Types in Python
1) Integer (int) => (-9,8,0,33,-455,67)
2) Float (float) => (8.9,55.43,-89.32,67.08,0.005,-0.32,4.0)
Bank Balance? float => Rupees 0.05
Data Balance in your Jio Sim => float => 300.5 mb
No of students in DS031221 BATCH? => int => 81

Numbers(int , float)

In [9]:
x = 45

In [10]:
print(x)

45

In [11]:
m = 5.5
print(m)

5.5

In [15]:
z = 34000000000

In [16]:
print(z)

34000000000

In [14]:
x = 5.5

In [17]:
aman = 56

In [18]:
print(aman)

56

In [22]:
3) String (str) => Any names, addresses, phone numbers
'aman umang' , "aadil khan" , """merin kumar""",'''jazz brown munde'''

In [31]:
x = 'aman umang'
y = "aadil khan"
mery = """merin kumar"""
jazz = '''jazz brown munde'''
patilNo = '8990045321'

In [32]:
print(patilNo)

8990045321

In [23]:
print(jazz)

jazz brown munde

In [24]:
chetan = """Mishti doi (Bengali: মিষ্টি দই) or Mitha Dahi 
(Odia: ମିଠା ଦହି) is a fermented sweet dahi (yogurt) originating 
from the Bogra District in Bangladesh[1][2] 
and is a very popular dessert throughout the country."""

In [25]:
print(chetan)

Mishti doi (Bengali: মিষ্টি দই) or Mitha Dahi
(Odia: ମିଠା ଦହି) is a fermented sweet dahi (yogurt) originating
from the Bogra District in Bangladesh[1][2]
and is a very popular dessert throughout the country.

In [26]:
avanika = 18
mahi = 22
print(avanika+mahi)

40

In [28]:
avanika = '18'
mahi = '22'
print(avanika+mahi)

1822

In [29]:
avanika = 'mohit '
mahi = 'singh'
print(avanika+mahi)

mohit singh

In [34]:
chetan2 = '''happy
coding'''

In [38]:
random_string = """I'm learning python.
Python is great for "Data Science".We are learning it."""
print(random_string)

In [44]:
pavan = '!@#$%^&*()-_=+~{}[]:;?/.,'
aman = 45.67
umang = 500
print(pavan,umang,aman)

!@#$%^&*()-_=+~{}[]:;?/., 500 45.67

In [48]:
x = 'rock '
y = 'singh'
print(x+y)

rock singh

In [49]:
x = 500

In [50]:
x = 'happy'

# names/variables in python

In [ ]:
x = 'mango'
What is x?
name/variable
x is pointing to an string data type. The value of the string is mango.

yippy = 'goa is fun.'
what is yippy?
name
yippy is pointing to an string data type.goa is fun is the value.

kalyani = 189
what is kalyani?
name
kalyani is pointing to an integer data type.189 is the value

distance_from_sun = 65000.900
what is distance_from_sun?
name
distance_from_sun is pointing to an float data type.65000.900 is the value.

In [ ]:
rules for names:-
    1) you can not use space
    2) you can not start a name with a number, but you can use number
    anywhere other than first position.
    3) you can not start a name with special character other than 
    underscore(_)
    
conventions:-
    1) distance_from_sun => name should be meaningfull, 
    2) Separate different words of name with underscore.
    3) start a name with small alphabet

# type() function

### it tells me data type of that name.

In [56]:
sajal = 'tiwari sahab'
print(type(sajal))

<class 'str'>

In [57]:
aman = 68
print(type(aman))

<class 'int'>

In [58]:
srinathanr = 786.786
print(type(srinathanr))

<class 'float'>

In [ ]:
press shift+enter in jupyter notebook cell

In [59]:
aman = 'happy'

In [61]:
print(aman)

happy

In [ ]:
Homework:-
    1) Write 10 names and define data types for them with some values.
    2) Calculate Total Income from various profits and loss that you
    have.
    rent = 3000
    electricity_bill = -5000